@model SistemaCurriculos.Models.Curriculo;

<h3>Currículo @Model.Nome</h3>

<div>
    <ul class="collection with-header">
        <li class="collection-header">
            <h5>
                Objetivos <a asp-action="Criar" asp-controller="Objetivo" asp-route-id="@Model.Id" class="btn-floating btn-small blue darken-4"><i class="material-icons">add</i></a>
            </h5>
        </li>
        @await Component.InvokeAsync("Objetivo", Model.Id)
    </ul>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Exclusão de Objetivo</h4>
        <p>Deseja excluir este objetivo?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close green accent-4 btn">Não</a>
        <a class="modal-close red accent-4 btn btnConfirmar">Sim</a>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".modal").modal();
        });

        function excluirObjetivoModal(id, objeto) {
            $("#modal1").modal("open");

            $(".btnConfirmar").on("click", function () {
                $.ajax({
                    method: "POST",
                    url: "/" + objeto + "/Excluir",
                    data: { id: id },
                    success: function () {
                        alert(objeto + " excluído com sucesso!");
                        location.reload();
                    }
                });
            });
        }
    </script>
}