@model SistemaCurriculos.Models.Objetivo;

<h3>Novo Objetivo</h3>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="Descricao" id="Descricao" class="validate" />
                    <label for="Descricao">Descricao</label>
                    <span asp-validation-for="Descricao" class="red-text darken-3"></span>
                </div>
            </div>

            <input type="hidden" asp-for="@Model.CurriculoId" />

            <div class="row">
                <input type="submit" value="Criar" class="btn btn-small green darken-1" /> &nbsp;
                <a asp-action="Detalhe" asp-controller="Curriculo" asp-route-id="@Model.CurriculoId">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}