@model SistemaCurriculos.Models.TipoCurso;

<h3>Editar tipo de Curso</h3>


<div class="row">
    <div class="col-md-4">
        <form asp-controller="TipoCurso">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="Tipo" id="Tipo" class="validate" />
                    <label for="Tipo">Tipo</label>
                    <span asp-validation-for="Tipo" class="red-text darken-3"></span>
                </div>
            </div>

            <div class="row">
                <input asp-action="Editar" type="submit" value="Atualizar" class="btn btn-small green darken-1" /> &nbsp;
                <a asp-action="Index" asp-controller="TipoCurso">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}