<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CurriculoSistema</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="navbar-fixed">
        <nav class="teal darken-4">
            <div class="nav-wrapped body-content">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li asp-controller="Usuario" asp-action="Registro">Registrar</li>
                        <li asp-controller="Usuario" asp-action="Logar">Logar</li>
                    }
                    else
                    {
                        <li asp-controller="Curriculo" asp-action="Index">Meus Currículos</li>
                        <li asp-controller="InformacoesLogin" asp-action="Index">Minhas Informações</li>
                        <li asp-controller="Usuario" asp-action="Logout">Logout</li>
                    }
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CurriculoSistema - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
