@model SistemaCurriculos.Models.ExperienciaProfissional;

<h3>Nova Experiência Profissional</h3>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="NomeEmpresa" id="NomeEmpresa" class="validate" />
                    <label for="NomeEmpresa">Nome da Empresa</label>
                    <span asp-validation-for="NomeEmpresa" class="red-text darken-3"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="Cargo" id="Cargo" class="validate" />
                    <label for="Cargo">Cargo</label>
                    <span asp-validation-for="Cargo" class="red-text darken-3"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="AnoInicio" id="AnoInicio" class="validate" />
                    <label for="AnoInicio">Ano do Início</label>
                    <span asp-validation-for="AnoInicio" class="red-text darken-3"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="AnoFim" id="AnoFim" class="validate" />
                    <label for="AnoFim">Ano do Fim</label>
                    <span asp-validation-for="AnoFim" class="red-text darken-3"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="DescricaoAtividades" id="DescricaoAtividades" class="validate" />
                    <label for="DescricaoAtividades">Descrição das Atividades</label>
                    <span asp-validation-for="DescricaoAtividades" class="red-text darken-3"></span>
                </div>
            </div>

            <input type="hidden" asp-for="@Model.CurriculoId" />

            <div class="row">
                <input type="submit" value="Criar" class="btn btn-small green darken-1" /> &nbsp;
                <a asp-action="Detalhe" asp-controller="Curriculo" asp-route-id="@Model.CurriculoId">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}